<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StarPrinting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StarPrintingExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57ECCF9618D8AD5E00EE51FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ECCFA618D8AD5E00EE51FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ECCFD018D8ADCD00EE51FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57ECCFED18D8ADCD00EE51FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
